:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119D;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    ---blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive; /* se trae codigo desde google font para utilizar en css deacuerdo a link en el head del index. */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;/* 1 rem=10px */
}

*, *:before, *:after {
box-sizing: inherit;
}

/* Globales */

body{
background-color: var(--primario);
font-size: 1.6rem;
line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(---blanco);    
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;    
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/* Header */
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/* Footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 10rem;
}
.footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/* Navegacion */

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion_enlace{
    font-family: var(--fuentePrincipal);
    color: var(---blanco);
    font-size: 3rem;
}
.navegacion_enlace--activo,
.navegacion_enlace:hover{
    color: var(--secundario);
}
/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width:768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

/* Productos */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__imagen{
    width: 100%;

}
.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.8rem;   
    color: var(--secundario);
}

.producto__nombre,.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.grafico--camisas{
    grid-row:  2 / 3;
    grid-column: 1 / 3;
    background-image: url("../img/grafico1.jpg");
}
.grafico--node{    
    grid-column: 1 / 3;
    grid-row: 8 / 9;
    background-image: url("../img/grafico2.jpg");
}
@media (min-width:768px){
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* PAGINA: NOSOTROS */

.section_1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.img_nosotros{
    grid-row: 1 / 2;    
}
.img_nosotros img{
    width: 100%;
}

@media(min-width:768px){
    .section_1{
        grid-template-columns: repeat(2,1fr);
    }
    .img_nosotros{
        grid-column: 2 / 3;
    }
    .section_1 div{
        padding: 2rem;
    }
    .footer{
        margin-top: 2em;
    }
}
.section_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 8%;
    gap: 10%;
}
@media(min-width:768px){
    .section_2{
        grid-template-columns: repeat(4,1fr);
    }
}
.section_2 h3{
    margin-top: 0px;
}

/* PRODUCTO */

.producto_react{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    
}
.img_react img{
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
}
.formulario_producto{
    display: grid;
    grid-template-columns: 1,1fr;
    gap: 2rem;
}
.datos_formulario{
    padding: 1.2rem;
    color: var(---blanco);
    background-color: var(--primario);
    border: 1rem solid var(--primarioOscuro);
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.boton_producto{
    padding: 1.5rem;
    color: var(--negro);
    width: 100%;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    background-color: var(--secundario);
    border: 0;
    cursor: pointer;
    grid-column: 1/3;
    font-size: 1.8rem;
}
.talla{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100vw;
}
.cantidad{
    grid-column: 2/3;
    grid-column: 1/2;
    width: 100vw;
}
@media(min-width:768px){
    .producto_react{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .talla{
        grid-column: 1/2;
        grid-row: 1/2;
        width: auto;
    }
    .cantidad{
        grid-column: 2/3;
        grid-row: 1/2;
        width: auto;
    }
}